@use "../utils/variables" as *;
/* corps de la page */
body{
    padding:0;
    margin:auto;  
    box-sizing: border-box;
    background-color: $color-white;
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
}

/* sélection texte */
::selection{
    background-color: unset;
    color: unset;
}
    @media screen and (min-width: $desktop){
    ::selection{
        background-color: $color-secondary;
        color: $color-tertiary-light;
    }
    }