@use "../utils/variables" as *;
@use "../utils/keyframe" as *;

/* banner des pages menu */
.banner{
    position: relative;
    &__image{
        width: 100%;
        height: auto;
        max-height: 250px;
        object-fit: cover;
        border-radius: 2px;
        @media screen and (min-width: 900px){
            display: block;
            margin: 0 auto;  
        }
    } /* zone en-dessous de l'image */
    &__text{
        width: 100%;
        height: 85px;
        position: absolute;
        bottom: -46px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        background-color: $color-bg-banner;
        @media screen and (min-width: 1024px) {
            width: 80%;
            display: flex;
            justify-content: center;
            margin-left: 10%;
            }
        /* nom de la table (restaurant) */
        &__title{
            font-size: 28px;
            font-weight: 300;
            font-family: 'Shrikhand', cursive;
            @media screen and (max-width: 319px){
                font-size: 23px;
            }
            @media screen and (min-width: $desktop){
                text-align: center;
                text-indent: 0;
            }
        }
    }
}