@use "../utils/variables" as *;

/* footer */
.footer {
    height: 203px;
    color: $color-white;
    background-color: $color-footer;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-top: 25px;

    @media screen and (min-width: $desktop) {
        flex-direction: row-reverse;
        align-items: flex-end;
        padding-right: 5%;
        padding-bottom: 3%;
        justify-content: space-evenly;
    }

    /* title footer */
    &__title {
        font-weight: 400;
        font-size: $size-eighteen;
        font-family: 'Shrikhand', cursive;
    }

    /* ensemble de li */
    &__list {
        font-size: $size-sixteen;
        list-style-type: none;

        @media screen and (min-width: $desktop) {
            display: flex;
            width: 82%;
            padding-left: 20%;
            justify-content: space-evenly;
        }

        /* li */
        &--element {
            padding: 0;
            list-style-type: none;

            @media screen and (min-width: $desktop) {
                margin-left: 1%;
            }
        }
    }

    &__link {
        display: block;
        margin: 0;
        padding: 5px 0 5px 0;
        color: $color-white;
        font-size: $size-sixteen;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;

        &:link {
            color: $color-white;
        }

        &:visited {
            color: $color-white;
        }

        &__icone {
            width: 18px;
            margin-right: 5px;
            font-size: $size-fifteen;
        }
    }

}

.mealFooter {
    height: 203px;
    color: $color-white;
    background-color: $color-footer;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-top: 25px;

    @media screen and (min-width: $desktop) {
        flex-direction: row-reverse;
        align-items: flex-end;
        padding-right: 5%;
        padding-bottom: 3%;
        justify-content: space-evenly;
    }

    /* title footer */
    &__title {
        font-weight: 400;
        font-size: $size-eighteen;
        font-family: 'Shrikhand', cursive;
    }

    /* ensemble de li */
    &__list {
        font-size: $size-sixteen;
        list-style-type: none;

        @media screen and (min-width: $desktop) {
            display: flex;
            width: 82%;
            padding-left: 20%;
            justify-content: space-evenly;
        }
    }

        /* li */
        &--element {
            padding: 0;
            list-style-type: none;

            @media screen and (min-width: $desktop) {
                margin-left: 1%;
            }
        }
    &__link {
        display: block;
        margin: 0;
        padding: 5px 0 5px 0;
        color: $color-white;
        font-size: $size-sixteen;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;

        &:link {
            color: $color-white;
        }

        &:visited {
            color: $color-white;
        }

        &__icone {
            width: 18px;
            margin-right: 5px;
            font-size: $size-fifteen;
        }
    }
}