@use "../utils/variables" as *;
@use "../utils/keyframe" as *;

/* header */
.tête{
    margin-bottom: 3%;
    position: relative;
    background: $coul-bg-blanc;
    text-align: center;

    &__logo{
        margin: 0;
        padding-top: 5%;
        }

    &__flèche{
        width: 18px;
        height: 20px;
        padding: 14px 15px 14px 15px;
        position:absolute;
        top: 9px;
        left: 2%; 
        color: $couleur-encre;
        text-decoration: none;
        &:visited{
            color: $couleur-encre;
        }
    }
}