@use "../utils/variables" as *;
@use "../utils/keyframe" as *;

/* header */
.head{
    padding: 16px;
    position: relative;
    background: $color-bg-white;
    text-align: center;

    &__logo{
        width: 180px;
        padding: 10px;
        }

    &__arrow{
        width: 18px;
        height: 20px;
        padding: 14px 15px 14px 15px;
        position:absolute;
        top: 9px;
        left: 2%; 
        color: $color-ink;
        text-decoration: none;
        &:visited{
            color: $color-ink;
        }
    }
}