@use "../utils/variables" as *;
@use "../utils/keyframe" as *;

/* menu des meal */

.meal {
    margin-top: 46px;
    background-color: $color-bg-banner;
    animation: flou 2s linear 0s forwards;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $desktop) {
        margin-left: 10%;
        margin-right: 10%;
    }

    /* button formulaire carte du menu */
    &--button{
        height: 50px;
        width: 185px;
        display: block;
        margin: 40px auto 70px auto;
        border: none;
        border-radius: 25px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        background: $color-linear-gradient;
        color: $color-white;
        &:hover{  
            opacity: 0.9;
            cursor: pointer;
            box-shadow: 0px 5px 10px 0px #8e8e8e; 
        }
    }

    /* zone des starters */
    &__starter {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: none;
        opacity: 0;
        animation: flou 1.3s linear forwards;
        animation-delay: 0.5s;

        @media screen and (min-width: $desktop) {
            margin-bottom: 40px;
            align-items: center;
        }

        /* zone pour 4 choices */
        &--fourchoice {
            margin-left: 15px;
            width: 94%;
            @media screen and (min-width: $desktop) {
                width: 60%;
                margin: 0;
            }
        }

        /* type starter */
        &--choice {
            margin-left: 15px;
            width: 94%;
            @media screen and (min-width: $desktop) {
                width: 60%;
                margin: 0;
            }
        }
    }

    /* zone des plats */
    &__dinner {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: none;
        opacity: 0;
        animation: flou 1.3s linear forwards;
        animation-delay: 1.5s;

        @media screen and (min-width: $desktop) {
            margin-bottom: 40px;
            align-items: center;
        }

        /* type de dinner */
        &--choice {
            width: 94%;
            margin-left: 15px;
            @media screen and (min-width: $desktop) {
                width: 60%;
                margin: 0;
            }
        }
    }

    /* zone des desserts */
    &__dessert {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: none;
        opacity: 0;
        animation: flou 1.3s linear forwards;
        animation-delay: 2.5s;

        @media screen and (min-width: $desktop) {
            margin-bottom: 40px;
            align-items: center;
        }

        /* type des desserts */
        &--choice {
            width: 94%;
            margin-left: 15px;
            @media screen and (min-width: $desktop) {
                width: 60%;
                margin: 0;
            }
        }
    }

    /* title des zones de meal */
    &__title {
        margin: 40px 0px 0px 13px;
        font-size: $size-sixteen;
        font-weight: 400;
        text-transform: uppercase;

        @media screen and (min-width: $desktop) {
            margin: 0% 0% 0% 20%;
        }

        /* barre sous les titles */
        &--bar {
            width: 40px;
            height: 3px;
            display: block;
            margin: 5px 0 10px 0;
            background-color: $color-tertiary-light;

            @media screen and (min-width: $desktop) {
                width: 85px;
                margin-left: 0%;
            }
        }
    }
}

.starters {
    width: 90%;
}

.dinners {
    width: 90%;
}

.desserts {
    width: 90%;
}

/* zone chaque plate */
.plate {
    margin-bottom: 12px;
    height: 68px;
    display: flex;
    /* start/center décale la div validée */
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px #b4b4b4;
    background-color: $color-white;
    overflow: hidden;
    opacity: 0;
    animation: flou 0.6s linear 1s forwards;

    /* nom de plate */
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        margin-left: 10px;
        text-overflow: ellipsis;
        overflow: hidden;

        /* text accompagnant du menu */
        &__title {
            width: 100%;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            height: 24px;
            font-size: $size-eighteen;
            font-weight: 500;
        }

        &__menu {
            width: 100%;
            display: block;
            margin: -10px 0 0 0;
            font-size: $size-fifteen;
            font-weight: 300;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    /* price de plate */
    &__price {
        width: 45px;
        margin: 36px 3px 0 3px;
        font-size: $size-fifteen;
        font-weight: 500;
        transition: all 0.4s linear;
    }

    /* zone validation choice plate */
    &--valid {
        width: 0px;
        height: 68px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #99E2D0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: all 0.4s linear;

        &--icone {
            font-size: 20px;
            color: $color-white;
        }
    }

    &:hover>.plate--valid {
        width: 60px;
    }
}