@use "../utils/variables" as *;
@use "../utils/keyframe" as *;

/* navigation restaurants */
.restaurants{
    height: 1190px;
    background-color: $couleur-bg-bandeau;
    @media screen and (min-width: $desktop){
        height: 700px;
    } /* titre de la zone de navigation des restaurants */
    &__titre{
        position: relative;
        margin: 0;
        padding: 55px 0 20px 0;
        text-indent: 6%;
        font-size: $size-vingt-quatre;  
    } /* élément de navigation */
    &__navigation{
        height: 1070px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        @media screen and (min-width: $desktop){
            height: 550px;
        }
    }
}
/* carte de restaurant */
.carte{
    height: 250px;
    width: 87%;
    display: inline;
    position: relative;
    border-radius: 20px;
    color: #000;
    background: $coul-bg-blanc;
    box-shadow: 0px 5px 10px 0px #b4b4b4;
    @media screen and (min-width: $desktop){
        width: 45%;
    }
    @media screen and (min-width: $desktop){
        &:hover{
            animation: demi-mou 1s ease-in 0.05s 1 forwards;
            cursor: pointer;
        } 
    } /* zone de lien */
    &__lien{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 20px;
        background: $coul-bg-blanc;
        text-decoration: none;
        &:link{
            color: $couleur-encre;
        }
        &:visited{
            color: $couleur-encre;
        } /* pancarte de nouveauté */
        &--nouveau{
            width: 80px;
            position: absolute;
            right: 12px;
            top: 12px;
            padding:6px 0;
            transform-origin: 10% 50%;
            border-radius: 2px;
            background-color: $couleur-vert-clair;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            color: $couleur-vert-fonce;
        } /* image du restaurant */
        &__image{
            height: 175px;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        } /* nom du restaurant */
        &__titre{
            margin: 0;
            padding: 13px 0 0 0;
            font-size: $size-dix-huit;
            text-indent: 4%;
            font-weight: 700;
        } /* lieu du restaurant */
        &__texte{
            margin: 0;
            padding: 5px 0 0 0;
            text-indent: 4%;
            font-size: $size-dix-sept;
            font-weight: 300;
        }
    }
    @media screen and (min-width: $desktop){
        &:hover .carte__lien--nouveau{
            z-index: 1;
        }
    }    
}









